body {
  font-family: sans-serif;
  font-family: 'Times New Roman', Times, serif;
  background: url(w1d2recipe/images/IhBogd.jpeg) no-repeat center top;
  background-color: #F6E3CE;
}

img {
  border-radius: 50%;
}

div {
  padding-top: 30px;
  padding-right: 0px;
  padding-left: 60px;
}

a{
	color: green;
    text-decoration: none;
}